h1 {
  line-height: 1;
  text-align: center;
}

#canvas {
  display: flex;
  z-index: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

#greeting-card {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

#greetings {
  width: fit-content;
  position: absolute;
  top: 10%;
  left: 15%;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  #canvas {
    display: none;
  }
  #greetings {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}
